<ul class="nav nav-tabs">
    <li role="presentation" [ngClass]="{active: chosenList === 'all'}" class="nav-item">
      <a class="nav-link" (click)="onChoose('all')" style="cursor: pointer" href="#">All</a>
    </li>
    <li role="presentation"[ngClass]="{active: chosenList === 'light'}" class="nav-item">
      <a class="nav-link" (click)="onChoose('light')" style="cursor: pointer" href="#">Light</a>
    </li>
    <li role="presentation" [ngClass]="{active: chosenList === 'dark'}" class="nav-item">
      <a class="nav-link" (click)="onChoose('dark')" style="cursor: pointer" href="#">Dark</a>
    </li>
</ul>
<app-list [characters]="getCharacters()"></app-list>