<ul class="nav nav-tabs">
    <li role="presentation" class="nav-item">
      <a class="nav-link active" aria-current="page" (click)="onChoose('all')" style="cursor: pointer" href="#">All</a>
    </li>
    <li role="presentation" class="nav-item">
      <a class="nav-link" (click)="onChoose('light')" style="cursor: pointer" href="#">Light</a>
    </li>
    <li role="presentation" class="nav-item">
      <a class="nav-link" (click)="onChoose('dark')" style="cursor: pointer" href="#">Dark</a>
    </li>
</ul>
<app-list [characters]="getCharacters()"></app-list>